@model IQueryable<DIDemo.Business.Models.Customer>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-condensed table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td class="text-left">@customer.Id</td>
                        <td class="text-left">@customer.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
